.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.background-image {
  position: fixed;
  top: 0;
  left: 0;
  // background-image: url('./assets/images/andrew-coelho-60428-unsplash.jpg');
  background-color: white;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  filter: blur(0px);
  z-index: -2;
}
