.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center; }

.background-image {
  position: fixed;
  top: 0;
  left: 0;
  background-image: url("./assets/images/waranont-wichittranont-409275-unsplash.jpg");
  background-color: white;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  filter: blur(5px);
  z-index: -2; }

.fa {
  color: #ededed;
  display: inline-block;
  border-radius: 60px;
  border: 2px solid #ededed;
  padding: 15px 18px 15px 18px;
  transition: 0.7s; }
  .fa:hover {
    border: 2px solid #b6a9f2;
    color: #b6a9f2; }
