
.svgContainer {
  height: 500px;
  width: 500px;
}

.thirdOrbit {
  position: absolute;
  transform-origin: 250px 250px;
  animation: thirdOrbit linear infinite;
  animation-duration: var(--ani-duration);
  animation-play-state: var(--ani-play);
}

@keyframes thirdOrbit {
  0% { transform: scale(1.0) rotate(0deg); }
  25% { transform: scale(1.1) rotate(90deg); }
  50% { transform: scale(1.1) rotate(180deg); }
  75% { transform: scale(1.0) rotate(270deg); }
  100% { transform: scale(1.0) rotate(360deg); }
}

.thirdGrow {
  position: absolute;
  transform-origin: 250px 250px;
  animation: thirdGrow linear infinite;
  animation-duration: var(--ani-duration);
  animation-play-state: var(--ani-play);
}

@keyframes thirdGrow {
  0% { transform: scale(1.0); }
  25% { transform: scale(1.1); }
  50% { transform: scale(1.1); }
  75% { transform: scale(1.0); }
  100% { transform: scale(1.0); }
}

.thirdBreatheIn {
  font-family: "arial";
  font-size: 25px;
  position: absolute;
  transform-origin: 250px 250px;
  animation: thirdBreatheIn linear infinite;
  animation-duration: var(--ani-duration);
  animation-play-state: var(--ani-play);
}

@keyframes thirdBreatheIn {
  0% { opacity: 1; }
  25% { opacity: 1; transform: scale(1.1);}
  26% { opacity: 0; }
  100% { opacity: 0; }
}

.thirdHold {
  font-family: "arial";
  font-size: 25px;
  position: absolute;
  transform-origin: 250px 250px;
  animation: thirdHold linear infinite;
  animation-duration: var(--ani-duration);
  animation-play-state: var(--ani-play);
}

@keyframes thirdHold {
  0% { opacity: 0; }
  25% { opacity: 0; transform: scale(1.1); }
  26% { opacity: 1; }
  50% { opacity: 1; transform: scale(1.1); }
  51% { opacity: 0; }
  75% { opacity: 0; transform: scale(1.0); }
  76% { opacity: 1; }
  100% { opacity: 1; }
}

.thirdBreatheOut {
  font-family: "arial";
  font-size: 25px;
  position: absolute;
  transform-origin: 250px 250px;
  animation: thirdBreatheOut linear infinite;
  animation-duration: var(--ani-duration);
  animation-play-state: var(--ani-play);
}

@keyframes thirdBreatheOut {
  0% { opacity: 0; }
  50% { opacity: 0; transform: scale(1.1); }
  51% { opacity: 1; }
  75% { opacity: 1; transform: scale(1.0); }
  76% { opacity: 0; }
  100% { opacity: 0; }
}
