.svgContainer {
  height: 500px;
  width: 500px;
}

.orbit {
  position: absolute;
  transform-origin: 250px 250px;
  animation: orbit 10s linear infinite;
}

@keyframes orbit {
  0% { transform: scale(1.0) rotate(0deg); }
  41% { transform: scale(1.1) rotate(150deg); }
  58% { transform: scale(1.1) rotate(210deg); }
  100% { transform: scale(1.0) rotate(360deg); }
}

.grow {
  position: absolute;
  transform-origin: 250px 250px;
  animation: grow 10s linear infinite;
}

@keyframes grow {
  41% { transform: scale(1.1); }
  58% { transform: scale(1.1); }
}

.command1 {
  font-family: "arial";
  font-size: 25px;
  position: absolute;
  transform-origin: 250px 250px;
  animation: command1 10s linear infinite;
}

@keyframes command1 {
  0% { opacity: 1; }
  41% { opacity: 1; transform: scale(1.1);}
  42% { opacity: 0; }
  100% { opacity: 0; }
}

.command2 {
  font-family: "arial";
  font-size: 25px;
  position: absolute;
  transform-origin: 250px 250px;
  animation: command2 10s linear infinite;
}

@keyframes command2 {
  0% { opacity: 0; }
  41% { opacity: 0; transform: scale(1.1); }
  42% { opacity: 1; }
  57% { opacity: 1; transform: scale(1.1); }
  58% { opacity: 0; }
  100% { opacity: 0; }
}

.command3 {
  font-family: "arial";
  font-size: 25px;
  position: absolute;
  transform-origin: 250px 250px;
  animation: command3 10s linear infinite;
}

@keyframes command3 {
  0% { opacity: 0; }
  57% { opacity: 0; }
  58% { opacity: 1; transform: scale(1.1); }
  100% { opacity: 1; }
}
