:root {
  --ani-duration: 10s;
  --ani-play: running;
}

.svgContainerFirst {
  height: 500px;
  width: 500px;
  visibility: visible;
}

.firstOrbit {
  position: absolute;
  transform-origin: 250px 250px;
  animation: firstOrbit linear infinite;
  animation-duration: var(--ani-duration);
  animation-play-state: var(--ani-play);
}

@keyframes firstOrbit {
  0% { transform: scale(1.0) rotate(0deg); }
  41% { transform: scale(1.1) rotate(150deg); }
  58% { transform: scale(1.1) rotate(210deg); }
  100% { transform: scale(1.0) rotate(360deg); }
}

.firstGrow {
  position: absolute;
  transform-origin: 250px 250px;
  animation: firstGrow linear infinite;
  animation-duration: var(--ani-duration);
  animation-play-state: var(--ani-play);
}

@keyframes firstGrow {
  0% { transform: scale(1.0); }
  41% { transform: scale(1.1); }
  58% { transform: scale(1.1); }
  100% { transform: scale(1.0); }

}

.firstBreatheIn {
  font-family: "arial";
  font-size: 25px;
  position: absolute;
  transform-origin: 250px 250px;
  animation: firstBreatheIn linear infinite;
  animation-duration: var(--ani-duration);
  animation-play-state: var(--ani-play);
}

@keyframes firstBreatheIn {
  0% { opacity: 1; }
  41% { opacity: 1; transform: scale(1.1);}
  42% { opacity: 0; }
  100% { opacity: 0; }
}

.firstHold {
  font-family: "arial";
  font-size: 25px;
  position: absolute;
  transform-origin: 250px 250px;
  animation: firstHold linear infinite;
  animation-duration: var(--ani-duration);
  animation-play-state: var(--ani-play);
}

@keyframes firstHold {
  0% { opacity: 0; }
  41% { opacity: 0; transform: scale(1.1); }
  42% { opacity: 1; }
  57% { opacity: 1; transform: scale(1.1); }
  58% { opacity: 0; }
  100% { opacity: 0; }
}

.firstBreatheOut {
  font-family: "arial";
  font-size: 25px;
  position: absolute;
  transform-origin: 250px 250px;
  animation: firstBreatheOut linear infinite;
  animation-duration: var(--ani-duration);
  animation-play-state: var(--ani-play);
}

@keyframes firstBreatheOut {
  0% { opacity: 0; }
  57% { opacity: 0; }
  58% { opacity: 1; transform: scale(1.1); }
  100% { opacity: 1; }
}
