
.svgContainer {
  height: 500px;
  width: 500px;
}

.secondOrbit {
  position: absolute;
  transform-origin: 250px 250px;
  animation: secondOrbit linear infinite;
  animation-duration: var(--ani-duration);
  animation-play-state: var(--ani-play);
}

@keyframes secondOrbit {
  0% { transform: scale(1.0) rotate(0deg); }
  50% { transform: scale(1.1) rotate(180deg); }
  100% { transform: scale(1.0) rotate(360deg); }
}

.secondGrow {
  position: absolute;
  transform-origin: 250px 250px;
  animation: secondGrow linear infinite;
  animation-duration: var(--ani-duration);
  animation-play-state: var(--ani-play);
}

@keyframes secondGrow {
  50% { transform: scale(1.1); }
}

.secondBreatheIn {
  font-family: "arial";
  font-size: 25px;
  position: absolute;
  transform-origin: 250px 250px;
  animation: secondBreatheIn linear infinite;
  animation-duration: var(--ani-duration);
  animation-play-state: var(--ani-play);
}

@keyframes secondBreatheIn {
  0% { opacity: 1; }
  50% { opacity: 1; transform: scale(1.1);}
  51% { opacity: 0; }
  100% { opacity: 0; }
}

.secondBreatheOut {
  font-family: "arial";
  font-size: 25px;
  position: absolute;
  transform-origin: 250px 250px;
  animation: secondBreatheOut linear infinite;
  animation-duration: var(--ani-duration);
  animation-play-state: var(--ani-play);
}

@keyframes secondBreatheOut {
  0% { opacity: 0; }
  50% { opacity: 0; }
  51% { opacity: 1; transform: scale(1.1); }
  99% { opacity: 1; }
}
