:root {
  --ani-duration: 10s;
}

.svgContainer {
  height: 500px;
  width: 500px;
}

.orbit {
  position: absolute;
  transform-origin: 250px 250px;
  animation: orbit linear infinite;
  animation-duration: var(--ani-duration);
}

@keyframes orbit {
  0% { transform: scale(1.0) rotate(0deg); }
  25% { transform: scale(1.1) rotate(90deg); }
  50% { transform: scale(1.1) rotate(180deg); }
  75% { transform: scale(1.0) rotate(270deg); }
  100% { transform: scale(1.0) rotate(360deg); }
}

.grow {
  position: absolute;
  transform-origin: 250px 250px;
  animation: grow linear infinite;
  animation-duration: var(--ani-duration);
}

@keyframes grow {
  0% { transform: scale(1.0); }
  25% { transform: scale(1.1); }
  50% { transform: scale(1.1); }
  75% { transform: scale(1.0); }
  100% { transform: scale(1.0); }
}

.breatheIn {
  font-family: "arial";
  font-size: 25px;
  position: absolute;
  transform-origin: 250px 250px;
  animation: breatheIn linear infinite;
  animation-duration: var(--ani-duration);
}

@keyframes breatheIn {
  0% { opacity: 1; }
  25% { opacity: 1; transform: scale(1.1);}
  26% { opacity: 0; }
  100% { opacity: 0; }
}

.hold {
  font-family: "arial";
  font-size: 25px;
  position: absolute;
  transform-origin: 250px 250px;
  animation: hold linear infinite;
  animation-duration: var(--ani-duration);
}

@keyframes hold {
  0% { opacity: 0; }
  25% { opacity: 0; transform: scale(1.1); }
  26% { opacity: 1; }
  50% { opacity: 1; transform: scale(1.1); }
  51% { opacity: 0; }
  75% { opacity: 0; transform: scale(1.0); }
  76% { opacity: 1; }
  100% { opacity: 1; }
}

.breatheOut {
  font-family: "arial";
  font-size: 25px;
  position: absolute;
  transform-origin: 250px 250px;
  animation: breatheOut linear infinite;
  animation-duration: var(--ani-duration);
}

@keyframes breatheOut {
  0% { opacity: 0; }
  50% { opacity: 0; transform: scale(1.1); }
  51% { opacity: 1; }
  75% { opacity: 1; transform: scale(1.0); }
  76% { opacity: 0; }
  100% { opacity: 0; }
}
